NEXT_PUBLIC_SUPABASE_URL=https://rlfzkvztmuwoziipagzz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsZnprdnp0bXV3b3ppaXBhZ3p6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU2OTE3MjksImV4cCI6MjA2MTI2NzcyOX0.TO3Ste14Ttubka4sYCU7ffvDCzohaRoqFG_9MnGzKRU

docker build --build-arg NEXT_PUBLIC_SUPABASE_URL=https://bdylvjjvqbqvrzsenowi.supabase.co --build-arg NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkeWx2amp2cWJxdnJ6c2Vub3dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0ODE5NDMsImV4cCI6MjA2NzA1Nzk0M30.12tW18bB2Yt_6GBWKZ1QpDBFKHhI7OYDIP_MgSEWijc -t davixo/restaurant-proyecto-basico:latest .

docker run -p 3000:3000 davixo/restaurant-proyecto-basico:latest